<section class="sec-blog bg0 p-t-60 p-b-90">
  <div class="container">
      <div class="p-b-66">
          <h3 class="ltext-105 cl5 txt-center respon1">
              Blogs
          </h3>
      </div>

      <div class="row">
          <div class="col-sm-6 col-md-4 p-b-40" *ngFor="let item of listblog">
              <div class="blog-item">
                  <div class="hov-img0">
                      <a href="blog-detail.html">
                          <img src="https://localhost:44302/Images/list-image-blog/{{item.image}}" alt="IMG-BLOG">
                      </a>
                  </div>

                  <div class="p-t-15">
                      <div class="stext-107 flex-w p-b-14">
                          <span class="m-r-3">
                              <span class="cl4">
                                  Tạo bởi
                              </span>

                              <span class="cl5">
                                  Admin
                              </span>
                          </span>
                      </div>

                      <h4 class="p-b-12">
                          <a class="mtext-101 cl2 hov-cl1 trans-04">
                              {{item.tieude}}
                          </a>
                      </h4>

                      <span [innerHTML]="item.noidung" class="stext-108 cl6">
                      </span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
