

  <div class="app-body" >
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="newForm" (ngSubmit)="onSubmit(newForm.value)">
                  <h1>Register</h1>
                  <p class="text-muted">Create your account</p>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input class="form-control" placeholder="firstName" formControlName="firstName"required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input  class="form-control" placeholder="Last Name" formControlName="lastName" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input  class="form-control" placeholder="Địa chỉ" formControlName="location" required>
                  </div>
                  <label for="file">Upload ảnh đại diện</label>
                  <div class="input-group mb-4">
                    <input type="file" multiple (change)="gopHam($event)">
                    <div>
                      <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-success">Create Account</button>
                </form>
                <div *ngIf="errors" class="alert alert-danger" role="alert">
                  <strong>Oops!</strong> {{errors}}
                </div>
              </div>
              <div class="card-footer p-4">
                <div class="row">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  



<!-- <form [formGroup]="newForm" (ngSubmit)="onSubmit(newForm.value)">
    <button mat-button color="accent" type="submit" style="width: 100%;">Submit</button>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="FirstName" formControlName="firstName" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="LastName" formControlName="lastName" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="location" type="text">
      </mat-form-field>
       <mat-label>Upload ảnh đại diện</mat-label>
      <br>
      <input type="file" multiple (change)="gopHam($event)">
      <div>
        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
      </div>
    
</form>
<div *ngIf="errors" class="alert alert-danger" role="alert">
  <strong>Oops!</strong> {{errors}}
</div> -->