<form [formGroup]="newBlogForm" (ngSubmit)="onSubmit(newBlogForm.value)">
    <div class="container" style="width: 30vw;">
        <div class="form-group">
            <label for="form-control">Id</label>
            <input class="form-control" [value]="service.brand.id" readonly>
        </div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" formControlName="Name" [(ngModel)]="service.brand.ten">
        </div>
        <div class="form-group">
            <label for="Name">Thông tin</label>
            <input class="form-control" formControlName="ThongTin" [(ngModel)]="service.brand.thongTin">
        </div>
        <div class="form-group">
                <input type="file" multiple (change)="gopHam($event)">
                <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="180">
          </div>
        <div class="form-group" style="justify-content:center;display: flex;">
            <button type="submit" class="btn btn-primary" [mat-dialog-close]="true">Create or Edit</button>
        </div>
    </div>
</form>