<style>
  mat-form-field {
    margin-top: 2rem;
  }
</style>
<form [formGroup]="newForm" (ngSubmit)="onSubmit(newForm.value)">
  <button mat-button color="accent" type="submit" style="width: 100%;">Submit</button>
  <mat-tab-group [color]="accent">
    <mat-tab label="Thuộc tính cơ bản 1">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Id</mat-label>
        <input matInput [value]="service.product.id">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Tên</mat-label>
        <input matInput placeholder="Tên" formControlName="Ten" type="text" [(ngModel)]="service.product.ten">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Gia</mat-label>
        <input matInput placeholder="Giá" formControlName="Gia" type="number" [(ngModel)]="service.product.gia">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Khuyến mãi</mat-label>
        <input matInput placeholder="Khuyến mãi" formControlName="KhuyenMai" type="number"  [(ngModel)]="service.product.khuyenMai">
      </mat-form-field>
      <mat-label>Mô tả</mat-label>
      <ckeditor formControlName="MoTa" [editor]="Editor"></ckeditor>
      <br>
    
    </mat-tab>
    <mat-tab label="Thuộc tính cơ bản 2">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Tag</mat-label>
        <input matInput placeholder="Tag" formControlName="Tag" type="text" [(ngModel)]="service.product.tag">
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent"
        style="width: 100%;margin-top: 2rem;">
        <mat-label>Hướng dẫn</mat-label>
        <textarea matInput placeholder="Hướng dẫn" formControlName="HuongDan" type="text" rows="3" [(ngModel)]="service.product.huongDan">
      </textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" [color]="accent" style="width: 100%;">
        <mat-label>Thành phần</mat-label>
        <input matInput placeholder="Thành phần" formControlName="ThanhPhan" type="text" [(ngModel)]="service.product.thanhPhan">
      </mat-form-field>
    <mat-label>Trạng thái sản phẩm</mat-label>
      <select class="form-control" [(ngModel)]="service.product.trangThaiSanPham" formControlName="TrangThaiSanPham">
        <option 
            value="thuong">Sản phẩm thường
        </option>
        <option 
            value="hot">Sản phẩm hot 
        </option>
        <option 
            value="new">Sản phẩm new
        </option>
        <option 
            value="sale">Sản phẩm khuyến mãi
        </option>
    </select>
    <br>
  <mat-label>Trạng thái hoạt động</mat-label>
    <select class="form-control" [(ngModel)]="service.product.trangThaiHoatDong" formControlName="TrangThaiHoatDong">
      <option 
          value="on">Bật
      </option>
      <option 
          value="off">Tắt 
      </option>
    </select>
    <br>
    <br>
    </mat-tab>
    <mat-tab label="Ràng buộc">
      <br>
      <mat-label>Trạng thái sản phẩm thiết kế</mat-label>
      <br>
      <select class="form-control" [(ngModel)]="service.product.trangThaiSanPhamThietKe" formControlName="TrangThaiSanPhamThietKe">
        <option 
            value="co">Cho phép 
        </option>
        <option 
            value="khong">Không cho phép 
        </option>
      </select>
    
      
      <div class="form-group">
        <span class="label label-default">Id_Loai</span>
        <select class="form-control" [(ngModel)]="service.product.id_Loai" formControlName="Id_Loai">
            <option  *ngFor="let category of this.categories"
                [value]="category.id">{{category.ten}}</option>
        </select>
    </div>
    <div class="form-group">
      <span class="label label-default">BrandId</span>
      <select class="form-control" [(ngModel)]="service.product.id_NhanHieu" formControlName="Id_NhanHieu">
          <option  *ngFor="let brand of this.brands"
              [value]="brand.id">{{brand.ten}}</option>
      </select>
  </div>
    </mat-tab>
  </mat-tab-group>
</form>